/* Harvest Tack Pick element styles */

.harvest-task-pick input { height: 22px; padding: 10px 8px; font-size: 18px; font-weight: bold; }
.harvest-task-pick ul.autocomplete { z-index: 1; }
.harvest-task-pick ul.autocomplete li.active { background-color: #EEE; }
.harvest-task-pick ul.autocomplete li p.title { padding: 0; color: #444; font-size: 11px; }