/* Harvest Tack Pick element styles */

.harvest-task-pick input
{
  font-size: 18px;
  font-weight: bold;
  height: 22px;
  padding: 10px 8px;  
}

.harvest-task-pick ul.autocomplete
{
  z-index: 1;
}

.harvest-task-pick ul.autocomplete li.active
{
    background-color: #EEE;
}

.harvest-task-pick ul.autocomplete li p.title
{
  padding: 0;
  color: #444;
  font-size: 11px;
}

/* Default awesomecomplete styles */

ul.autocomplete
{
    background-color: #fff;
    border: 1px solid #777;
    display: block;
    list-style-type: none;
    margin: 0;
    min-height: 100px;
    padding: 2px;
    position: absolute;
}

ul.autocomplete li
{
    border-top: 1px solid #aaa;
    cursor: pointer;
    padding: 4px;
}

ul.autocomplete li:first-child
{
    border-top: none;
}

ul.autocomplete li.active
{
    background-color: #eef;
}

/* Default render function styles */

ul.autocomplete li p
{
    margin: 1px 4px;
}

ul.autocomplete li p.title
{
    font-weight: bold;
}

ul.autocomplete li p.matchRow
{
    color: #666;
}

ul.autocomplete li span.matchedField
{
    color: #999;
    font-style: italic;
}

ul.autocomplete span.match
{
    font-weight: bold;
    text-decoration: underline;
}